.page2 {
    background-color: #3E3CBC;
    height:791px;
    border-bottom: 10px solid #000;
}


.skills {
    text-align:center;
    font-family:'Press Start 2P', sans-serif;
    font-size:15px;
    color:#fff;
  }