header {
    display: flex;
    justify-content: space-between;
    background-color: #A653B4;   
    border-bottom: 10px solid #000;
    padding: 10px 20px;
    
  }

  nav {
    text-align: right;
    display: flex;    
  }
  a {
    display: inline-flex;
    align-items: center;
    color:white;
    font-size: 20px;
    font-family: "fira code", Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
  }

  a::before {
    content: "";
    background-color: #F25a70;
    width: 10px;
    height: 10px;
    margin-right: 10px;
  }




